body {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1em);
    grid-template-rows: repeat(16, 1em);
    border: 5px solid black;
}