body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    margin: 5px;
    padding: 15px;
    font-size: large;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 2em);
    grid-template-rows: repeat(16, 2em);
    border: 5px solid black;
    width: 750px;
    height: 750px;
}

.grid-box-mouseover {
    background-color: black;
}
