body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 2em);
    grid-template-rows: repeat(16, 2em);
    border: 5px solid black;
}

.grid-box-mouseover {
    background-color: black;
}